{% extends 'base.html.twig' %}

{% block title %}JUKEBOX 80 - INSCRIPTION{% endblock %}


{# FORMULAIRE D'INSCRIPTION #}

{% block content %}

<div class="image-background-inscription">
    <h1 class="mb-0 pt-3 d-flex justify-content-center">Inscription</h1>

        
    <div class="formulaire-inscription mt-4 ms-5 row w-50 align-items-center">
        <div class="col">
            {# {{ form(form) }}  #}

            {{form_start(form)}}
                <div class="">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>

                <div class="mt-3">
                    {{ form_label(form.lastname) }}
                    {{ form_widget(form.lastname) }}
                </div>


                <div class="mt-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="mt-3">
                    <small>{{ form_help(form.password, {'attr': {'class': 'form-text'}}) }}</small>
                    {{ form_widget(form.password) }}
                </div>

                {{ form_row(form.submit, { 'label': "S'inscrire"}) }}

            {{form_end(form)}}
                
        </div>
    </div>

{% endblock %}