<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lecteur de Musique et Playlist">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="assets/css/style.css">

    <title>{% block title %}JUKEBOX 80 - ACCUEIL{% endblock %}</title>
  

  </head>

  <body>

                  {# HEADER - NAVABAR - PAGE D'ACCUEIL #}

    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand text-light fw-bold" href="{{ path('accueil')}}">JUKEBOX 80</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ">

        {% if app.user %}
          <a class="nav-link text-light fw-bold active" href="{{ path('app_jukebox_member_playlist')}}">Playlist</a> 
          <a class="nav-link text-light fw-bold active" href="{{ path('app_jukebox_member_categories')}}">Catégories</a> 
          <a class="nav-link text-light fw-bold active" href="{{ path('app_jukebox_member_favoris')}}">Favoris</a> 
          <a class="nav-link text-light fw-bold active" href="{{ path('app_account')}}">Profil ({{ app.user.firstname }})</a> 
          <a class="nav-link text-light fw-bold active" href="{{ path('app_logout')}}">Déconnexion</a>
          {% else %}
              <a class="nav-link text-light fw-bold active" href="{{ path('register')}}">Inscription</a> <a class="nav-link text-light fw-bold active" href="{{ path('app_login')}}">Connexion</a>
          {% endif %}
        </div>
      </div>
    </nav>


        {# CONTENU DE LA PAGE D'ACCUEIL DANS INDEX.HTML.TWIG #}

        <main class="content-accueil">
            {% block content %}
            {% endblock %}
        </main>


    <script src="assets/JS/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

  </body>
</html>
